.vscode

.idea
__pycache__
venv
*.pyc

rona_pkg/rona_pkg/instrument_detector/object_detector

rona_pkg/rona_pkg/instrument_detector/output/*
!rona_pkg/rona_pkg/instrument_detector/output/.gitkeep

rona_pkg/rona_pkg/instrument_detector/orientation_estimator/RotNet/data/models/*
!rona_pkg/rona_pkg/instrument_detector/orientation_estimator/RotNet/data/models/.gitkeep

rona_pkg/rona_pkg/robot_config.py
rona_pkg/rona_pkg/calibration
rona_pkg/rona_pkg/hand_detection

rona_pkg/rona_pkg/voice_recognition/*
!rona_pkg/rona_pkg/voice_recognition/.gitkeep
!rona_pkg/rona_pkg/voice_recognition/model_wakeword/
rona_pkg/rona_pkg/voice_recognition/model_wakeword/*
!rona_pkg/rona_pkg/voice_recognition/model_wakeword/.gitkeep

rona_pkg/rona_pkg/robot_sdk/

rona_pkg/rona_pkg/tests/tests
rona_pkg/rona_pkg/__pycache__
rona_pkg/rona_pkg/tests/__pycache__
rona_pkg/custom_interfaces/__pycache__

TODOS.md